<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		
	</head>
	<body>
		
		
		<div id="app">
			 
			 <input type="text" v-model="myNumber" placeholder="这里输入数字" >
			 <p v-if="myNumber>num">大</p>
			 <p v-if="myNumber<num">小</p>
			 <p v-if="myNumber==num">猜对了</p>
			 
		</div>
		
		
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			let v=new Vue({
				el:'#app',
				data:{
					
					num:Math.round(Math.random()*100),
					myNumber:''
					
				}
			})
			
		</script>
		
	</body>
</html>
